<!DOCTYPE HTML>
<html>
<head>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Cергей ответит</title>
    <link rel="stylesheet" href="/static/main.css" type="text/css">
</head>
<body class="bg{{.Bg}}">
    <div class="page-wrap">
        <h1>
            <a href="/" id="lnkReload">
                <span>{{.Answer}}</span>
                <div class="boxed">
                    <div class="item"></div>
                </div>
                <span class="answer">Сергей ответит</span>
            </a>
        </h1>
    </div>
</body>
</html>